
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

html{
	font-size: 62.5%;
}

body{
	background-image: url(../img/fondo.png) ;
	background-attachment: fixed;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	height: auto;
	width: 100%;
	margin: 20px 20 px;
	padding: 10px 10px;
	background-color:rgba(89, 35, 22, 0.8) ;
	border: double 1px rgba(217, 187, 169, 1.0);
	text-align: center;
	}



nav{
	position:sticky;
	top: 0px;
	border: double 5px rgba(217, 187, 169, 1.0);
}

nav ul{
	height: auto;
	width: auto;
	margin: 20px 20 px;
	padding: 10px 10px;
	background-color:rgba(89, 35, 22, 1.0) ;

}

nav ul li {
	list-style: none;
	display: inline-block;

	margin-right: 40px;
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 10px;

	
}


nav ul li a {
	text-decoration: none;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	width: 3rem;
	width: 100%;

}
nav ul li a:hover {
	color: #D93A2B;

}


/*div section {
	display: flex;
	display: inline-block;
	width: 100%;
}
*/
section figure {
	display: flex;
	margin: 20px 60px;
	display: inline-block;
	border: double 5px rgba(217, 187, 169, 1.0);
}




div article p {
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	background-color:rgba(89, 35, 22, 1.0);
	width: auto;
	margin: 0px 0px;
	font-size: 2rem;


}

form {
	font-size: 2rem;
	color: white;
	font-family: 'Roboto', sans-serif;
	height: auto;
	width:auto;
	margin:0px;
	padding: 10px 10px;
	background-color:rgba(89, 35, 22, 1.0) ;
	border: double 5px rgba(217, 187, 169, 1.0);
	text-align: left;
	align-items: center;
}


footer p {
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	line-height: 2.1rem;
	text-align: center;
	margin: 20px;
	font-weight: bold;
} 



/*selector de clase(seagrega dentro de etiqueta usando atributo class, mas fuerte q de etiqueta)*/

.text-negro{color: black;}

/*selector de id se usa una sola vez (nombre con numeral u se lo llama dentro de etiqueta "id=""*/


.text-center{
	text-align: center;

}


.text-right{
	text-align: right;
}

.text_left{
	text-align: left;
}

.text-italic{
	font-style: italic;
}

.text-sm{
	font-size: 2rem;
}


.main-background {
	background-color:rgba(191, 111, 65, 1.0) ;
}

.pink-background {
	background-color:rgba(217, 187, 169, .6) ;
}


.logo__principal{
	width: 30%;
	height: auto;
	padding:  auto;
	margin: 10px auto; 
	

}


.promociones-cositas__section{
	background-color:rgba(217, 187, 169, .6) ;
	width: auto;
	height: auto;
	padding: 30px;
	margin:  auto;
	border: double deeppink 3px;
	overflow: auto;
}

.pie{
	text-align: center;
	/*padding*/
	padding: 20px 0;
}

.pie__icon--sm{
	width: 40px;
	
}

.pie__nombre--md{
	width: 100mp;
	padding: auto;
}

.centro{
	width: 1000px;
	height: 500px;
	background-color: red;
	position: relative;
	}

.imagen__principal--lg{
	width: 100%;
}


.imagenes{
	width: 100%;
}



.flex-direction{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.flex-sinEspacio{
	display: flex;
}

.flex-center{
	display: flex;
	justify-content: center;
}

.flex-column{
	display: flex;
	flex-direction: column;

}

.flex-columnesp{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex-end{
	display: flex;
	justify-content: end;
}


.titule{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	background-color:rgba(217, 58, 43, 0.8) ;
	border: double 4px rgba(89, 35, 22, 1.0);
	text-align: center;
}

.imagen__desayuno--lg{
	width: 90%;
	height: 90%;
	border: double 5px rgba(217, 187, 169, 1.0);
	}

.contenido{
	color: darkslategray;
	font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
	padding: 10px;
	background-color:rgba(217, 187, 169, 1.0) ;
	border: double 4px rgba(89, 35, 22, 1.0);
	text-align:left;
	text-decoration:inherit;
	height: auto;
	width:auto;
}


	.flex-contenido{
	display: flex;
	justify-content: space-between;
}

.flex-wrap{
	display: flex;
	flex-wrap: nowrap;
}


#promociones section div .galeria{
	margin: 20px 0;
	/****display flex****/
	display: flex;
	flex-direction: column;
	align-items: center;

	}

/* ======= MOBILE FIRST  ======= definimos el grid layout - 1 col y rows auto*/
.contenedor{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"nav" 
	"header" 
	"promociones"
	"cositas" 
	"aside" 
	"footer";

}

/*le damos nombres a las areas del layout*/
#navig{
	grid-area: nav;
}

#header{
	grid-area: header;
}

#promociones{
	grid-area: promociones;
}



#cositas{
	grid-area: cositas;
}

#aside{
	grid-area: aside;
}

#footer{
	grid-area: footer;
}



/* ======== media queries ======== */

@media (min-width: 768px){
	.contenedor{
		grid-template-columns: 50vw 50vw;
		grid-template-areas: 
	"nav nav" 
	"header header"
	"promociones cositas"
	"promociones cositas"
	"aside aside" 
	"footer footer";
	}
	#promociones section {
		width: 100%
	}

	#cositas section{
	width: 100%
	}
		

	#cositas section figure{
		width: 30%
	}
		
	#cositas section div{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: space-around;


	}
	
		
}


/*animaciones*/

.gradiente{
 background-image: linear-gradient(to left, rgba(217, 187, 169, .6) , black);
}




.transform:hover{
	transform: translateX(15px);
	cursor: pointer;
}

.transformY:hover{
	transform: translateY(20px);
	cursor: pointer;
}

.transformY-:hover{
	transform: translateY(-20px);
	cursor: pointer;
}


.transformlogo:hover{
	transform: rotateZ(-360deg);
	cursor: pointer;
	transition: transform 2s;
}

.scale:hover{
transform: scale(2);
cursor: pointer;
transition: 0.5s;
}

@keyframes animateD{
	0%{background-color: rgba(217, 187, 169, 1); width: 100%;}
	50%{background-color: darkgray; width:100%;}
	100%{background-color: rgba(217, 58, 43, 0.8); width: 100%;}

}

.animate{
animation-name: animateD;
animation-iteration-count: infinite;
animation-duration: 2s;
animation-delay: 0;

}



/*---------------BOOTSTRAP*/


.navFondo{
	border: double 5px rgba(217, 187, 169, 1.0);
	background-color:rgba(89, 35, 22, 1.0) ;

}




.listul {

	margin-right: 25px;
	margin-left: 25px;
}

.textNav{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}

body{
	background-image: url(../img/fondo.png) ;
	background-attachment: fixed;
	overflow-x: hidden;
}

#texto{
text-decoration: none;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	width: 3rem;
	width: 100%;	
}


.btn-menu
{
    color: white;
    font-size: 25px;
    background: white;
}



.promotex{
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	background-color:rgba(89, 35, 22, 1.0);
	width: auto;
	font-size: 2rem;
}



.margin-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;

}

.margin-t {
  margin-top: 3rem !important;
  margin-bottom: 0 !important;
}

.margin-{
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}




nav ul li a:hover {
	color: #D93A2B !important;
}

.whatsapp {
  position:fixed;
  width:70px;
  height:70px;
  bottom:40px;
  right:40px;
  border-radius:80px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}